# name: Simple url check
on: [push]

jobs:
  check:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-18.04]
        babashka-url: ['https://16800-201467090-gh.circle-artifacts.com/0/release/babashka-0.3.3-SNAPSHOT-linux-amd64.tar.gz']
    steps:
      - name: Setup Babashka
        id: setup-babashka
        uses: turtlequeue/setup-babashka@main
        with:
          babashka-version: 0.3.3-SNAPSHOT
          babashka-url: ${{ matrix.babashka-url }}

      - name: Check if bb runs fine
        run: bb --version

      - name: Setup Babashka from cache
        id: setup-babashka-2
        uses: turtlequeue/setup-babashka@main
        with:
          babashka-version: 0.3.3-SNAPSHOT
          babashka-url: ${{ matrix.babashka-url }}

      - name: Check if bb runs fine from cache
        run: bb --version
  check-windows:
    # https://ci.appveyor.com/project/borkdude/babashka
    runs-on: windows-latest
    strategy:
      matrix:
        babashka-url: ['https://ci.appveyor.com/api/buildjobs/i1a8wqbei198jtvr/artifacts/babashka-0.3.3-SNAPSHOT-windows-amd64.zip']
    steps:
      - name: Setup Babashka
        id: setup-babashka
        uses: turtlequeue/setup-babashka@main
        with:
          babashka-version: 0.3.3-SNAPSHOT
          babashka-url: ${{ matrix.babashka-url }}

      - name: Check if bb runs fine
        run: bb --version

      - name: Setup Babashka from cache
        id: setup-babashka-2
        uses: turtlequeue/setup-babashka@main
        with:
          babashka-version: 0.3.3-SNAPSHOT
          babashka-url: ${{ matrix.babashka-url }}

      - name: Check if bb runs fine from cache
        run: bb --version
