# name: Simple url check
on: [push]

jobs:
  check:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-18.04]
        babashka-url: ['https://output.circle-artifacts.com/output/job/58e9dcec-1df1-4d3a-9879-c938f2272523/artifacts/0/release/babashka-0.8.157-SNAPSHOT-linux-aarch64-static.tar.gz']
    steps:
      - name: Setup Babashka
        id: setup-babashka
        uses: turtlequeue/setup-babashka@main
        with:
          babashka-version: 0.8.157-SNAPSHOT
          babashka-url: ${{ matrix.babashka-url }}

      - name: Check if bb runs fine
        run: bb --version

      - name: Setup Babashka from cache
        id: setup-babashka-2
        uses: turtlequeue/setup-babashka@main
        with:
          babashka-version: 0.8.157-SNAPSHOT
          babashka-url: ${{ matrix.babashka-url }}

      - name: Check if bb runs fine from cache
        run: bb --version
  check-windows:
    # https://ci.appveyor.com/project/borkdude/babashka
    runs-on: windows-latest
    strategy:
      matrix:
        babashka-url: ['https://ci.appveyor.com/api/buildjobs/p0hixpbicqgoumam/artifacts/babashka-0.8.157-SNAPSHOT-windows-amd64.zip']
    steps:
      - name: Setup Babashka
        id: setup-babashka
        uses: turtlequeue/setup-babashka@main
        with:
          babashka-version: 0.8.157-SNAPSHOT
          babashka-url: ${{ matrix.babashka-url }}

      - name: Check if bb runs fine
        run: bb --version

      - name: Setup Babashka from cache
        id: setup-babashka-2
        uses: turtlequeue/setup-babashka@main
        with:
          babashka-version: 0.8.157-SNAPSHOT
          babashka-url: ${{ matrix.babashka-url }}

      - name: Check if bb runs fine from cache
        run: bb --version
