name: Main dev test

on: [push]

jobs:
  simple:
    runs-on: ubuntu-latest
    # runs-on: windows-latest
    steps:
      - name: Setup Babashka
        uses: turtlequeue/setup-babashka@feature/support-builds
        with:
          babashka-version: 0.3.0

      - name: Check bb runs
        run: bb --version
