# name: Self check

on: [push]

jobs:
  check:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-18.04, macos-latest, windows-latest]
        babashka-version: [0.2.3, 0.2.12, 0.3.0]
    steps:
      - name: Setup Babashka
        id: setup-babashka
        uses: turtlequeue/setup-babashka@feature/support-windows
        with:
          babashka-version: ${{ matrix.babashka-version }}

      - name: Check if bb runs fine
        run: bb --version

      - name: Setup Babashka from cache
        id: setup-babashka-2
        uses: turtlequeue/setup-babashka@feature/support-windows
        with:
          babashka-version: ${{ matrix.babashka-version }}

      - name: Check if bb runs fine from cache
        run: bb --version
